.others_block_item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 5px;
  margin: 5px 0;
  padding: 0;

  .others_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #b9b9b9;
    padding: 3px 4px;
    font-size: 19px;
    border-radius: 4px;
    background-color: hsl(0, 0%, 90%);
    opacity: 0.7;

    p {
      padding: 0 3px;
      color: #4f5467;
    }

    svg {
      height: 19px;
      width: 14px;
      padding: 3px;
      line-height: 1;
      overflow: hidden;
      fill: #4f5467;
      cursor: pointer;

      &:hover {
        fill: #08133c;
      }
    }
  }
}
