.wrapper {
  width: 100%;

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #233242;
    padding: 10px 0;
  }

  .sort_by {
    width: 100%;

    .reviews_count {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #233242;
      margin: 15px 0 10px 0;
    }

    .sort_by_block {
      display: flex;
      align-items: center;
      height: 33px;
      width: 188px;

      .sort_by_word {
        width: 100px;
      }

      .current_wrapper_option {
        .current_text_option {
          font-size: 14px;
        }
      }

      .options_wrapper_fz {
        .options_fz {
          font-size: 13px;
        }
      }

    }
  }

  .single_reviews {
    width: 100%;
    display: flex;
    margin-top: 25px;

    .user_info {
      width: 188px;
      display: flex;
      justify-content: space-between;
      margin-right: 30px;

      .user_image {
        width: 82px;
        height: 67px;
        margin-right: 10px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .user_data {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 82px);
        height: 67px;

        .user_fName {
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          color: #233242;
        }

        .user_place {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #233242;
          margin: 10px 0;
        }

        .user_review_count {
          display: flex;
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          align-content: center;

          svg {
            width: 13.33px;
            height: 13.33px;
            margin-right: 4px;

            path {
              fill: #FF5C00;
            }
          }
        }
      }
    }

    .review_content_wrapper {
      width: 500px;

      .range {
        width: 240px;
        align-items: center;
        display: flex;

        .start_w_h {
          width: 20px;
          height: 20px;
        }
      }

      .review_content {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #233242;
        min-height: 77px;
      }

      .add_public_comment {
        margin-top: 10px;
        margin-right: 15px;
        border: 1px solid #233242;
        background-color: #233242;
        color: white;

        &:hover {
          opacity: .7;
        }
      }

      .delete {
        border: none;
        padding: 0;

        &:hover {
          color: #233242;
          background-color: white;
        }
      }
    }
  }

  .pagination_review {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .pagination_space {
    margin-top: 50px;
    min-width: 10%;
    width: max-content;
  }
}

.delete_modal_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .delete_modal_text {
    margin-bottom: 20px;
  }

  .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 36px;
    border: 1px solid #FF5C00;
    background-color: #FF5C00;
    color: white;
    margin-right: 20px;

    &:hover {
      opacity: .8;
      background-color: #FF5C00;
    }
  }

  .cancel_btn {
    padding: 0;
    border: none;
    background-color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;

    &:hover {
      color: #233242;
      opacity: .8;
      background-color: transparent;
    }
  }
}
