.main_button {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #233242;
  color: #233242;
  transition: all 0.3s;
  &:disabled{
    opacity: 0.5;
    &:hover{
      background-color: white;
      color: #233242;
      cursor: auto;
    }
  }

  &:hover {
    background: #233242;
    color: white;
  }

  &.cancel {
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    transition: all 0.3s;

    &:hover {
      background: #ff4d4d;
      color: white;
    }
  }
}
